body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /*background-color: #fff0db;*/
  background-color: #002664;
}
canvas {
  border: none;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#wheelCanvas {
  display: block;
  margin: 0 auto;
  background: transparent;
}

#spinningWheel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#centerDiv {
  width: 100px;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#spinButton {
  display: block;
  margin: 20px auto;
}

#circle {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#arrow {
  width: 60px;
  height: 60px;
  background-color: black;
  position: relative;
  z-index: 0;
  left: 46%;
  top: -36px;
  clip-path: polygon(
    45% 36%,
    57% 36%,
    49% 21%,
    100% 50%,
    49% 84%,
    56% 67%,
    45% 67%
  );
}

/*************************************************************/
/*************************************************************/

/* button styling*/
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-85:before {
  content: "";
  background: linear-gradient(45deg, #002664, #f0ab00, #5d3fd3, #f0ab00);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*************/
/*Logo*/
.left-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
}

#logo {
  width: 200px;
}

.right-column img {
  width: 400px;
}

.logo-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}
